.modal.show .modal-dialog{
    width: 100%;
    height: 100%;
    max-width: none;
}

.title-modal  {
    display: flex;
    
}

.modal-content{
    height: 100%;
}

.block-youtube {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}
.iframe-youtube {
    flex: 2;
    border: 2px solid;
    padding: 20px; 
    height: 100%;
    resize: horizontal;
}